.login-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: bold;
}

.login-button {
	justify-content: center;
	display: flex;
}

.login-card {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 90%;
}

