page-home {

}
.card-background-page {

  ion-card {
    background-color: #6D3EB4;
    position: relative;
    text-align: center;
    margin: 0 0 0 0;
    width: 100vw;
  }

  .back {
    background-color: #6D3EB4;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.4em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }

}
